*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  /* font type */
  font-family: 'Merriweather', serif;
}

#app
{
  width: 100%;
}

h1
{
    font-size: xx-large;
}

#crown-icon
{
  font-size: xx-large;
}
