#section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#section #left {
  width: 50%;
  padding: 15rem 5rem;
}

#section #right {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 0;
  position: relative;
}

#right-sub-one {
    display: flex;
    align-items: center;
    width: 20%;
    background-color: white;
    z-index: 19;
  }
  
  #right-sub-one img {
    height: 45%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  #right-sub-one img.fade-in {
    opacity: 1;
    transform: translateX(15%);
  }

#right #right-sub-two {
  width: 80%;
  height: 100vh;
  background-color: black;
  background-image: url(../../public/image/pic1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 9;
}

#section h3 {
  color: #ea9200;
  font-size: xx-large;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1.2s ease;
}

#section h3.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 500ms;
}

#section h2 {
  padding: .5rem 0;
  font-size: 3.5rem;
  transition: opacity 1s ease, transform 1.2s ease;
  opacity: 0;
  transform: translateY(70px);
}

#section h2.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 300ms;
}

#section p {
  color: #666;
  padding: 1rem 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1.2s ease;
 
}

#section p.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1000ms;
}

#section a {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: .5rem;
  font-size: 1.2rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1.2s ease;
}

#section a.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1600ms;
}

@media (max-width: 1256px) {
  #section {
    flex-direction: column;
  }

  #section #left {
    width: 100%;
    padding: 4rem 2rem;
  }

  #section #right {
    width: 100%;
    order: -1;
  }

  #right > * {
    height: 70vh !important;
  }

  #right #right-sub-one {
    width: 50%;
    height: 80vh;
  }

  #right #right-sub-one img {
    left: 51%;
    position: absolute;
    transform: translate(-51%, 0);
    height: 40vh;
  }

  #right #right-sub-two {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #section #left {
    padding: 3rem 1rem;
  }
}
