#navbar
{
    position: absolute;
    margin: 3rem 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
     width: calc(100% - 12rem);
}

#navbar > :nth-child(2)
{
    margin-left: auto;
}

#navbar > :nth-child(2) a
{
    color: white;
}

#navbar-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#side-bar-list
{
    padding: 10rem 3rem;
}

.side-header
{
    padding: 1.5rem 0;
}

.side-header > h3
{
    font-size: x-large;
    color: white;
}
